body {
    background-image: url("../images/JgbAUV.jpg");
}

#home {
    text-align: center;
}

.img-fluid {
    padding-top: -10px;
    width: 550px;
}

.position {
    padding-top: -20px;
    margin-top: -80px;
}
.font-color {
    color: #fff;
}

.tableheight {
    height: 500px;
}

.container {
    margin-bottom: 10px;
}

#start {
    color: green;
    background:white;
    margin-top: 5px;
    font-size: 50px;
    
}

#keyboard {
    color: green;
}


.container {
    font-family: 'Bangers', cursive;
}

.timer-area {
    display: flex;
}


.countdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 150px;
    font-size: 125px;
    font-weight: bold;
}

.questions {
    font-size: 18px;
    font-weight: 700;
    align-self: center;
    margin-bottom: 15px;
}

.options {
    display: flex;
    flex-direction: column;
}


.btn,
#submit-btn {
    background-color: #FFF;
    border: none;
    color: green;
    text-align: center;
    text-decoration: none;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

#startGame {
    width: fit-content;
    align-self: center;
}

.btn.answers {
    background-color: #FFF;
    border: 3px solid #91d0e2;
    border-radius: 3px;
    color: #3a393f;
    font-size: 14px;
    margin-bottom: 15px;
}

.btn.next {
    background-color: #FFF;
    border: 3px solid green;
    border-radius: 3px;
    color: #3a393f;
    font-size: 14px;
    width: 25%;
    margin-top: 15px;   
    align-self: flex-end;   
}

.quiz-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 15px;
    padding-top: 30px;
}

.results {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.scoreboard {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: 150px;
    margin-top: 15px;
}

.correct, .incorrect {
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.numCorrect, .numIncorrect {
    align-self: center;
    font-size: 20px;
}

#submit-btn {
    font-size: 30px;
    border: 3px solid #91d0e2;
    border-radius: 3px;
    color: #91d0e2;
    padding: 5px;
    margin-left: 150px;
    margin-top: 25px;
}

.btn:hover,
.btn:focus,
#submit-btn:hover,
#submit-btn:focus {
    color: #fff;
    background-color: #91d0e2;
    border-color: #91d0e2;
}